<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <h3>Post title: </h3>
      <input name="post-title" type="text" value="{{post.title}}" />
      <h4> Blog post:</h4>
      <span>({{format_url post.post_body}})</span>
    </div>
    <div>
      <p>Created on:{{format_date post.createdAt}}</p>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
    <h5>Comments:</h5>
    {{post.comments.length}} {{format_plural "comment" post.comments.length}}
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">Add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>